* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.saiful {
  width: 100%;
  height: 100vh;
  background-color: #5555ff;
  padding: 8px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}
.saiful > div {
  background-color: #f55;
}
.s1 {
  background-image: url("./nature-1.jpeg");
  background-repeat: no-repeat;
  background-position: 48% center;
  background-size: cover;
}
.s2 {
  background-image: url("./nature-2.jpg");
  background-repeat: no-repeat;
  background-position: 48% center;
  background-size: cover;
}
.s3 {
  background-image: url("./nature-3.jpg");
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
}
